//colors
$pink: #f5ece3;
$nude: #EEE4DA;
$fonts: #555555;
$fonicon: #AC8F78;
$wite: #FFFFFF;



//font size
$fz13: 13px;
$fz14: 14px;
$fz16: 16px;
$fz18: 18px;
$fz20: 20px;
$fz24: 24px;
$fz32: 32px;
$fz48: 48px;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Cera Pro';
}


.container{
    max-width: 1236px;
    margin: 0 auto;
}


li{
    list-style-type: none;
}
 a{
    text-decoration: none;
 }

//header
.header{
    background-color: $pink;
    position: relative;

   
    
    
     
    

    .container{
      display: flex;
      justify-content: space-between;
      
       
        
        
      
    ul{
        display: flex;
        margin-top: 51px;
        margin-left: 70px;

    li{
        margin-right: 47px;
    
    a{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        color: $wite;
    }

    img{
        width: 180px;
        height: 16px;
        margin-left: 150px;
    }
            } 
        }
     .auth{
        display: flex;
        margin-top: 51px;
        margin-right: 70px;

        p{
        font-style: normal;
         font-weight: 400;
         font-size: 14px;
         line-height: 120%;
         color: white;
         padding-right: 48px;
        }
        
        img{
            width: 14px;
            height: 14px;
            margin-left: 25px;
        }
     }
    }
}
.d-block{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    bs-gutter-x: 0rem;
    }
    .carousel-indicators button {
        margin-bottom: 210px;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        
       } 
       .carousel-caption{
        h1{
            font-weight: 400;
            font-size: 48px;
            line-height: 120%;
            color:  $wite;
        }
        img{
            margin-top: 5px;
        }
       }
     
.scroll{
    .container{
        width: 100%;
        display: flex;
       
     }
    }
     
    
//content produks
.content_produks{
    display: flex;
    height: 1490px;
    
    .container{
        background-color: $pink;
    }
}


