*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 1200px;
    margin: 0 auto;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}

.header{
    background: #0f3d19;
    padding-bottom: 161px;
}
.header .container{
    padding-top: 0.1px;
}
.logo{
font-family: 'Julius Sans One', sans-serif;
font-weight: 400;
line-height: 26px;
color: white;
border: 1px solid white;
margin-top: 40px;
width: 133px;
height: 81px;
padding-top: 14px;
padding-bottom: 15px;
text-align: center;
margin-left: 100px;
float: left;

}

a{
    color: white;
    text-decoration: none;
}
li{
    list-style-type: none;
}
.header ul{
    float: right;
    margin-top: 48px;
    margin-right: -120px;
    
}
.image.container img{
    width: 1200px;
    height: 800px;
}
.header ul li{
        margin-left: 38px;
        float: left;
        margin-top: 16px;}

.container_img1{
    margin-left: 70px;
    margin-right: 100px;
    margin-top: 50px;
    position: relative;
    height: 500px;
   
}
.container_img1 > h4{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
color: #000000;
margin-bottom: 40px;
}
.container_img1 > .img_name{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 42px;
color: #000000;
margin-bottom: 40px;
}
.container_img1 > p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
}
.container_img1 > img{
    position: absolute;
    bottom:67px;
    right: -242px;
}
.container_img2{
    margin-left: 70px;
    margin-right: 100px;
    margin-top: 50px;
    position: relative;
    height: 500px;
    width: 1200px;
   }
   .container_img2 > img{
    position: absolute;
    bottom:67px;
    right: 607px;
}
.container_img2 > .img_name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 40px;
    padding-left: 700px;
    
}
.container_img2 > p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding-left:700px;
}
.products{
    position: relative;
    height: 500px; 
    width: 1200px;

}
.products_foto > img :first-child{
position: absolute;
margin-right: 1000px;
}
.products_foto > img:nth-child(2){
    position: absolute;
     padding-left: 600px;}
.products_foto > img:last-child{
    position: absolute;
    padding-left: 100px;  
}
.products > h4{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
color: #000000;
margin-bottom: 20px;
}



       .footer{
            background: #0f3d19;
            padding-top: 30px;
            padding-bottom: 108px;
            color: #fff;
            height: 300px;
        }
        .footer p.title{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 36px;
             line-height: 42px;
             color: #FFFCFC;
            margin-bottom: 24px;
        }
        .contacts{
            font-weight: 700;
            font-size: 20px;
            line-height: 19px;
            color: #FFFCFC;
            margin-bottom: 24px;
        }
        .help{
            float: left;
            margin-right: 125px;
            margin-left: 70px;
        }
        .help li:first-child{
            font-weight: 700;
            font-size: 20px;
            line-height: 19px;
            color: #FFFCFC;
            margin-bottom: 24px;
        }
        .help li{
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;
            color: #C9C7C7;
            margin-bottom: 15px;
        }
        
        .support{
            float: left;
            margin-right: 125px;
        }
        .support p.title + p{
            font-weight: 400;
            font-size: 14px;
            line-height: 233%;
            color: #C9C7C7;
            margin-bottom: 3px;
        }
        .footer__social li{
            float: left;
            margin-right: 14px;
            margin-bottom: 73px;
        }
        .email{
            float: left;
            margin-right: 125px;
        }
        .email > a{
            margin-top: 18px;
        }
        .social__network{
            float: left;
            margin-right: -130px;
            
        }
        .social__network ul{
            margin-top: 18px;
        }
        .social__network ul li{
            float: left;
            margin-right: 18px;
        }



        