*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: 0 auto;}

.header{
display: flex;
}
.header > div{
    height: 120px;
    flex-basis: 300px;
}
.header > div:nth-child(1){
background-color:blanchedalmond;
}
.header > div:nth-child(2){
    background-color: rgb(191, 183, 199);
}
.header > div:nth-child(3){
    background-color: rgb(226, 207, 207);
}
.header > div:nth-child(4){
    background-color: antiquewhite;
}

.start p { 
    font-size: 20px;
    text-indent: 25px;
}
h2{
   text-align: center;
   margin-top: 10px;
   margin-bottom: 10px;
}
.block1 p{
    font-size: 20px;
    text-indent: 25px;
}

/*.naydenko{
    text-align: center;
}

.naydenko img{
    width: 350px;
    height: 400px;
}

.naydenko h2{
    font-size: 40px;
}

.naydenko p{
    padding-top: 20px;
}

.zayats{
    text-align: center;
    margin-top: 50px;
}

.zayats img{
    width: 350px;
    height: 400px;
}

.zayats h2{
    font-size: 40px;
    padding-top: 90px;
}

.zayats p{
    padding-top: 20px;
}

.anisenko{
    text-align: center;
    margin-top: 50px;
}

.anisenko img{
    width: 350px;
    height: 400px;
}

.anisenko h2{
    font-size: 40px;
    padding-top: 90px;
}

.anisenko p{
    padding-top: -50px
}

.kuzyakin{
    text-align: center;
    margin-top: 50px
}

.kuzyakin img{
    width: 350px;
    height: 400px;
}

.kuzyakin h2{
    font-size: 40px;
    padding-top: 50px;
}

.kuzyakin p{
    padding-top: 20px;
}

.pinchuk{
    text-align: center;
    margin-top: 50px
}

.pinchuk img{
    width: 350px;
    height: 400px;
}

.pinchuk h2{
    font-size: 40px;
    padding-top: 50px;
}

.pinchuk p{
    padding-top: 20px;
}

.rudenok{
    text-align: center;
    margin-top: 50px
}

.rudenok img{
    width: 350px;
    height: 400px;
}

.rudenok h2{
    font-size: 40px;
    padding-top: 90px;
}

.rudenok p{
    padding-top: 20px;
}

.smolskiy{
    text-align: center;
    margin-top: 50px
}

.smolskiy img{
    width: 350px;
    height: 400px;
}

.smolskiy h2{
    font-size: 40px;
    padding-top: 90px;
}

.smolskiy p{
    padding-top: 20px;
}*/